body {
    
}


.header {

}

.header-nav {

}

.header-logo-web {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;

}
.header-logo-stu {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;

}

.header-list {

}

.header-mail {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000000;
}

.header-mail:hover {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
}

.header-phone {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000000;
}

.header-phone:hover {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
}

.header-list-item {
    
}

.header-nav-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: rgb(33, 33, 33, 1);
}

.header-nav-link:hover {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
}

 .hero {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #ffffff;
 }

button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #ffffff;
}

button:hover {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #2196F3;
}

.feature {

}

.feature-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.feature-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #757575;
}

.examples {

}

.examples-list {

}

.examples-title {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.team {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.team-list {
   
}

.team-item {
   
}

.team-title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #757575;
}

.team-person {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.address {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
}

.contacts {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.6;
}

